//Colors
$primary: #370a51;
$secondary: #9d267f;
$success: #1db11d;
$info: #47ffe6;
$danger: #80002d;
$yellow: #fff454;
$orange: #e49a11;
$black: #1f0b31;
$transparent: transparent;

//Font names
$font:'OpenSans';
$font-bold:'OpenSans-Bold';
$font-italic: 'OpenSans-Italic';
